body {
	margin: 0;
}

.el-main {
	min-height: 160px;
}

.el-footer {
	line-height: 60px;
	text-align: center;
}

.el-form-item__content .el-table td, .el-form-item__content .el-table th {
	line-height: 23px;
}

.mt-1 {
	margin-top: 20px;
}

.mt-2 {
	margin-top: 40px;
}

.mb-1 {
	margin-bottom: 20px;
}

.mb-2 {
	margin-bottom: 40px;
}

.mr-1 {
	width: 300px;
	margin-right: 10px
}

.header {
	border-bottom: solid 1px #e6e6e6;
	padding: 0 20px;
	line-height: 60px;
	height: 60px;
}

.header a, .el-dropdown-menu a {
	color: inherit;
}

.header .logo {
	float: left;
}

.el-dropdown-menu a {
	display: block;
	width: 100%;
}