body {
	margin: 0;
}

.el-main {
	min-height: 160px;
}

.el-footer {
	line-height: 60px;
	text-align: center;
}

.el-form-item__content, .el-timeline-item__content {
	word-wrap: break-word;
	word-break: break-all;
}

.el-form-item__content .el-table td, .el-form-item__content .el-table th {
	line-height: 23px;
}

.mt-1 {
	margin-top: 20px;
}

.mt-2 {
	margin-top: 40px;
}

.mb-1 {
	margin-bottom: 20px;
}

.mb-2 {
	margin-bottom: 40px;
}

.ml-1 {
	margin-left: 10px
}

.mr-1 {
	margin-right: 10px
}

.w-1 {
	width: 300px;
}

.w-12 {
	width: 120px;
}

.mw-1 {
	max-width: 180px;
}

.mw-4 {
	max-width: 400px;
}

.header {
	border-bottom: solid 1px #e6e6e6;
	padding: 0 20px;
	line-height: 60px;
	height: 60px;
}

.header a, .el-dropdown-menu a {
	color: inherit;
	text-decoration: none;
}

.header .logo {
	float: left;
	text-decoration: none;
}

.el-dropdown-menu a {
	display: block;
	width: 100%;
}

.item-list .el-card__body {
	text-align: center;
	padding: 5px;
}

.item-list .el-card__body .img {
	height: 250px;
	overflow: hidden;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-list .el-card__body .img a {
	display: block;
	width: 100%;
}

.item-list .el-card__body .img img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}

.vg-img img {
	width: 97%;
	height: auto;
	min-height: 80px;
	display: block;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}

.vg-box img {
	margin: 10px auto;
}

@media only screen and (max-width: 767px) {
	.item-list .el-card__body .img {
		height: auto;
		min-height: 80px;
	}

	.vg-img img {
		width: 98%;
	}
}

.item-list .el-card__body .info {
	margin-top: 5px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.more {
	display: block;
	margin: 0 auto;
}

.menu-list .el-radio-button__inner {
	padding: 0;
}

.menu-list .el-radio-button__inner a {
	display: block;
	padding: 12px 20px;
	color: inherit;
	text-decoration: none;
}