<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>狗狗采集</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.5.4/theme-chalk/index.css">
    <style>
        body {
            margin: 0;
        }

        .el-header {
            min-height: 60px;
            padding: 0;
        }

        .el-main {
            min-height: 160px;
        }

        .el-footer {
            line-height: 60px;
            text-align: center;
        }

        .el-form-item__content .el-table td, .el-form-item__content .el-table th {
            line-height: 23px;
        }

        .mb-1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <template>
        <el-container>
            <el-header>
                <el-menu :default-active="menuActive" mode="horizontal">
                    <el-menu-item index="1"><a href="/">狗狗采集</a></el-menu-item>
                </el-menu>
            </el-header>
            <el-main>
                <!--搜索栏-->
                <el-row>
                    <el-input v-model="q.Name" placeholder="请输入规则" style="width:300px;margin-right:10px" class="mb-1">
                        <el-button slot="append" icon="el-icon-search" @click="searchClick"/>
                    </el-input>
                    <el-button type="primary" class="mb-1" @click="createDialog">添加规则</el-button>
                    <el-button v-if="tableSelectData.length!==0" type="danger" class="mb-1" @click="batchDelete">删除规则
                    </el-button>
                </el-row>

                <!--状态筛选-->
                <el-radio-group v-model="q.Status" class="mb-1" @change="statusChange">
                    <el-radio-button :label="0">全部</el-radio-button>
                    <el-radio-button :label="1">关闭采集</el-radio-button>
                    <el-radio-button :label="2">采集一次</el-radio-button>
                    <el-radio-button :label="3">间隔采集</el-radio-button>
                </el-radio-group>

                <!--表格-->
                <el-table v-loading="tableLoading" :data="tableData" border @selection-change="tableSelect">
                    <el-table-column type="selection" width="50"></el-table-column>
                    <el-table-column label="规则名称" prop="Name"></el-table-column>
                    <el-table-column label="规则备注" prop="Brief"></el-table-column>
                    <el-table-column label="数据库名称" prop="DateBase" width="150"></el-table-column>
                    <el-table-column label="修改时间" prop="UpdateDate" width="180"></el-table-column>
                    <el-table-column label="添加时间" prop="CreateDate" width="180"></el-table-column>
                    <el-table-column label="状态" width="100" align="center">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.Status === 1" type="info">关闭采集</el-tag>
                            <el-tag v-else-if="scope.row.Status === 2">采集一次</el-tag>
                            <el-tag v-else-if="scope.row.Status === 3" type="success">间隔采集</el-tag>
                            <el-tag v-else type="danger">-</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="250">
                        <template slot-scope="scope">
                            <el-tooltip effect="dark" content="采集任务" placement="top">
                                <el-button type="success" size="small" circle icon="el-icon-caret-right"
                                           @click="updateCronDialog(scope.row)"/>
                            </el-tooltip>
                            <el-tooltip effect="dark" content="编辑规则" placement="top">
                                <el-button type="primary" size="small" circle icon="el-icon-edit"
                                           @click="updateDialog(scope.row, 1)"/>
                            </el-tooltip>
                            <el-tooltip effect="dark" content="删除规则" placement="top">
                                <el-button type="danger" size="small" circle icon="el-icon-delete"
                                           @click="deleteDialog(scope.row)"/>
                            </el-tooltip>
                            <el-tooltip effect="dark" content="导出规则" placement="top">
                                <el-button type="warning" size="small" circle icon="el-icon-download"
                                           @click="exportDialog(scope.row)"/>
                            </el-tooltip>
                            <a :href="'/Item?Rid='+scope.row.Rid" target="_blank" style="margin-left:10px">
                                <el-button size="small" circle icon="el-icon-search"/>
                            </a>
                        </template>
                    </el-table-column>
                </el-table>

                <!--分页-->
                <el-row type="flex" justify="end" style="margin-top:15px">
                    <el-pagination v-if="tableTotal > 0" :current-page="q.Page" :page-size="20" :total="tableTotal"
                                   background layout="total, prev, pager, next, jumper"
                                   @current-change="tableCurrentChange"/>
                </el-row>

                <!--对话框: 任务-->
                <el-dialog :visible.sync="cronDialogVisible" title="采集任务" fullscreen>
                    <el-form ref="cronData" :model="cronData" label-width="130px" style="width:95%">
                        <el-form-item label="数据库" v-if="cronDateBase.Type>0">
                            <el-radio-group v-model="cronDateBase.Type">
                                <el-radio :label="1">全新创建表</el-radio>
                                <el-radio :label="2">备份旧数据</el-radio>
                                <el-radio :label="3">删除旧数据</el-radio>
                            </el-radio-group>
                        </el-form-item>

                        <el-form-item label="任务状态">
                            <el-radio-group v-model="cronData.Status">
                                <el-radio :label="1">关闭采集</el-radio>
                                <el-radio :label="2">采集一次</el-radio>
                                <el-radio :label="3">间隔采集</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="间隔时间" v-if="cronData.Status===3">
                            <el-input-number v-model="cronData.IntervalHour" :min="0"></el-input-number>
                            <el-button type="danger">时</el-button>
                        </el-form-item>

                        <el-form-item label="抓取超时">
                            <el-input-number v-model="cronData.Timeout" :min="0"></el-input-number>
                            <el-button type="danger">秒</el-button>
                        </el-form-item>

                        <el-form-item label="任务开关">
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsList">
                                列表页: 抓取
                            </el-checkbox>
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsListDownAna">
                                列表页: 分析下载地址
                            </el-checkbox>
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsListDownRun">
                                列表页: 下载资源
                            </el-checkbox>
                            <br>
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsContent">
                                内容页: 抓取
                            </el-checkbox>
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsContentDownAna">
                                内容页: 分析下载地址
                            </el-checkbox>
                            <el-checkbox :true-label="1" :false-label="0" v-model="cronData.IsContentDownRun">
                                内容页: 下载资源
                            </el-checkbox>
                        </el-form-item>

                        <el-form-item>
                            <el-button :disabled="cronButtonDisabled" type="primary" @click="cronDataSubmit">
                                确认
                            </el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--对话框: 规则-->
                <el-dialog :visible.sync="ruleDialogVisible" :title="ruleTitle" fullscreen @close="getList">
                    <el-steps :active="stepsActive" align-center style="margin-bottom:15px">
                        <el-step title="基本信息"></el-step>
                        <el-step title="列表规则"></el-step>
                        <el-step title="内容规则"></el-step>
                    </el-steps>
                    <el-form ref="ruleData" :model="ruleData" label-width="130px" style="width:95%">
                        <div v-if="stepsActive==='1'">
                            <el-form-item label="采集规则名称">
                                <el-input v-model="ruleData.Name" placeholder=""/>
                            </el-form-item>
                            <el-form-item label="采集规则备注">
                                <el-input v-model="ruleData.Brief" placeholder=""/>
                            </el-form-item>
                            <el-form-item label="数据库名称">
                                <el-input v-model="ruleData.DateBase" placeholder=""/>
                            </el-form-item>
                            <el-form-item label="登录Cookie">
                                <el-input v-model="ruleData.Cookie" type="textarea" :autosize="{minRows: 2, maxRows: 5}"
                                          placeholder="如需要登录抓取，请设置此处"/>
                            </el-form-item>
                            <el-form-item label="网站编码">
                                <el-radio-group v-model="ruleData.Charset">
                                    <el-radio label="UTF8">UTF-8</el-radio>
                                    <el-radio label="GBK">GBK</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item>
                                <el-button :disabled="ruleButtonDisabled" type="primary" @click="formSubmit(2)">
                                    下一步
                                </el-button>
                            </el-form-item>
                        </div>
                        <div v-if="stepsActive==='2'">
                            <el-form-item label="抓取特殊列表">
                                <el-input v-model="ruleData.ListSpecialUrl" type="textarea"
                                          :autosize="{minRows: 2, maxRows: 5}" placeholder="每行一条"/>
                            </el-form-item>
                            <el-form-item label="抓取列表网址">
                                <el-input v-model="ruleData.ListUrl" placeholder="">
                                    <el-button slot="append" @click="TestListUrl">测试</el-button>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="列表开始页码">
                                <el-input-number v-model="ruleData.ListPageStart"/>
                            </el-form-item>
                            <el-form-item label="列表结束页码">
                                <el-input-number v-model="ruleData.ListPageEnd"/>
                            </el-form-item>
                            <el-form-item label="每页间隔">
                                <el-input-number v-model="ruleData.ListPageSize"/>
                            </el-form-item>
                            <el-form-item label="列表匹配规则">
                                <el-input v-model="ruleData.ListRule" placeholder="">
                                    <el-button slot="append" @click="TestListRule">测试</el-button>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="匹配参数">
                                <el-table :data="ruleParams" border>
                                    <el-table-column label="字段名称" prop="Field"></el-table-column>
                                    <el-table-column label="字段备注" prop="Brief"></el-table-column>
                                    <el-table-column label="字段类型" prop="FieldType"></el-table-column>
                                    <el-table-column label="排序" prop="Sort" width="80"></el-table-column>
                                    <el-table-column label="添加时间" prop="CreateDate" width="180"></el-table-column>
                                    <el-table-column label="操作" width="100">
                                        <template slot-scope="scope">
                                            <el-tooltip effect="dark" content="编辑参数" placement="top">
                                                <el-button type="primary" size="small" circle icon="el-icon-edit"
                                                           @click="updateRuleParamDialog(scope.row)"/>
                                            </el-tooltip>
                                            <el-tooltip effect="dark" content="编辑参数" placement="top">
                                                <el-button type="danger" size="small" circle icon="el-icon-delete"
                                                           @click="deleteRuleParamDialog(scope.row)"/>
                                            </el-tooltip>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-button size="mini" round @click="createRuleParamDialog(ruleData, 'List')">添加字段
                                </el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="stepsActive='1'">上一步</el-button>
                                <el-button :disabled="ruleButtonDisabled" type="primary" @click="formSubmit(3)">下一步
                                </el-button>
                            </el-form-item>
                        </div>
                        <div v-if="stepsActive==='3'">
                            <el-form-item label="内容测试网址">
                                <el-input v-model="ruleData.ContentUrl" placeholder="">
                                    <el-button slot="append" @click="TestContentUrl">测试</el-button>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="匹配参数">
                                <el-table :data="ruleParams" border>
                                    <el-table-column label="字段名称" prop="Field"></el-table-column>
                                    <el-table-column label="字段备注" prop="Brief"></el-table-column>
                                    <el-table-column label="字段类型" prop="FieldType"></el-table-column>
                                    <el-table-column label="排序" prop="Sort" width="80"></el-table-column>
                                    <el-table-column label="添加时间" prop="CreateDate" width="180"></el-table-column>
                                    <el-table-column label="操作" width="100">
                                        <template slot-scope="scope">
                                            <el-tooltip effect="dark" content="编辑参数" placement="top">
                                                <el-button type="primary" size="small" circle icon="el-icon-edit"
                                                           @click="updateRuleParamDialog(scope.row)"/>
                                            </el-tooltip>
                                            <el-tooltip effect="dark" content="删除参数" placement="top">
                                                <el-button type="danger" size="small" circle icon="el-icon-delete"
                                                           @click="deleteRuleParamDialog(scope.row)"/>
                                            </el-tooltip>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-button size="mini" round @click="createRuleParamDialog(ruleData, 'Content')">添加字段
                                </el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="returnStepsActive2">上一步</el-button>
                                <el-button :disabled="ruleButtonDisabled" type="primary" @click="formSubmit(1)">保存
                                </el-button>
                            </el-form-item>
                        </div>
                    </el-form>
                </el-dialog>

                <!--对话框: 参数-->
                <el-dialog :visible.sync="ruleParamDialogVisible" :title="ruleParamTitle" fullscreen>
                    <el-form ref="ruleParamData" :model="ruleParamData" label-width="130px" style="width:95%">
                        <el-form-item label="字段名称">
                            <el-input v-model="ruleParamData.Field" placeholder=""/>
                        </el-form-item>
                        <el-form-item label="字段类型">
                            <el-radio-group v-model="ruleParamData.FieldType">
                                <el-radio label="INTEGER">INTEGER(数字)</el-radio>
                                <el-radio label="VARCHAR">VARCHAR(小文本)</el-radio>
                                <el-radio label="TEXT">TEXT(大文本)</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="字段备注">
                            <el-input v-model="ruleParamData.Brief" placeholder=""/>
                        </el-form-item>
                        <el-form-item label="匹配规则">
                            <el-input v-model="ruleParamData.Rule" placeholder="">
                                <el-button slot="append" @click="TestRuleParam">测试</el-button>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="获取类型">
                            <el-radio-group v-model="ruleParamData.ValueType">
                                <el-radio label="Html">Html</el-radio>
                                <el-radio label="Text">Text</el-radio>
                                <el-radio label="Attr">Attr</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="获取属性" v-if="ruleParamData.ValueType==='Attr'">
                            <el-input v-model="ruleParamData.ValueAttr"/>
                        </el-form-item>
                        <el-form-item label="过滤规则">
                            <el-radio-group v-model="ruleParamData.FilterType">
                                <el-radio label="Trim">清理两端空白</el-radio>
                                <el-radio label="Reg">正则替换</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <div v-if="ruleParamData.FilterType==='Reg'">
                            <el-form-item label="过滤正则">
                                <el-input v-model="ruleParamData.FilterRegexp"/>
                            </el-form-item>
                            <el-form-item label="正则结果">
                                <el-input v-model="ruleParamData.FilterRepl"/>
                            </el-form-item>
                        </div>
                        <el-form-item label="排序">
                            <el-input-number v-model="ruleParamData.Sort" placeholder=""/>
                        </el-form-item>
                        <el-form-item label="是否可搜索">
                            <el-radio-group v-model="ruleParamData.IsSearch">
                                <el-radio :label="0">否</el-radio>
                                <el-radio :label="1">是</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="下载类型">
                            <el-radio-group v-model="ruleParamData.DownType">
                                <el-radio :label="0">不用下载</el-radio>
                                <el-radio :label="1">直接下载</el-radio>
                                <el-radio :label="2">规则下载</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <div v-if="ruleParamData.DownType===2">
                            <el-form-item label="下载地址匹配规则">
                                <el-input v-model="ruleParamData.DownRule" placeholder="">
                                    <el-button slot="append" @click="TestRuleParamDown">测试
                                    </el-button>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="下载地址获取类型">
                                <el-radio-group v-model="ruleParamData.DownValueType">
                                    <el-radio label="Text">Text</el-radio>
                                    <el-radio label="Attr">Attr</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="下载地址获取属性" v-if="ruleParamData.DownValueType==='Attr'">
                                <el-input v-model="ruleParamData.DownValueAttr" placeholder=""/>
                            </el-form-item>
                        </div>
                        <div v-if="ruleParamData.DownType>0">
                            <el-form-item label="下载文件类型">
                                <el-radio-group v-model="ruleParamData.DownFileType">
                                    <el-radio label="Image">Image</el-radio>
                                    <el-radio label="Movie">Movie</el-radio>
                                    <el-radio label="File">File</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="下载文件超时">
                                <el-input-number v-model="ruleParamData.DownTimeout" :min="0"></el-input-number>
                                <el-button type="danger">秒</el-button>
                            </el-form-item>
                        </div>
                        <el-form-item>
                            <el-button :disabled="ruleParamButtonDisabled" type="primary" @click="formRuleParamSubmit">
                                确认
                            </el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--对话框: 测试规则匹配-->
                <el-dialog title="测试规则匹配" :visible.sync="ruleTestDialog" fullscreen>
                    <el-input v-model="ruleTestUrl" disabled>
                        <template slot="prepend">抓取页面</template>
                    </el-input>
                    <el-input v-if="ruleTestHtmlList.length === 0" type="textarea"
                              autosize="{minRows: 5, maxRows:10000}" placeholder="玩命抓取中..."
                              v-model="ruleTestHtml" style="margin-top: 20px">
                    </el-input>

                    <!--列表单独展示样式-->
                    <el-input v-if="ruleTestHtmlList.length > 0" v-model="ruleTestHtmlList.length" disabled
                              style="margin-top: 20px">
                        <template slot="prepend">匹配数量</template>
                    </el-input>
                    <el-input v-for="item in ruleTestHtmlList" type="textarea" autosize="{minRows: 5, maxRows:10000}"
                              placeholder="玩命抓取中..."
                              v-model="item" style="margin-top: 20px">
                    </el-input>
                </el-dialog>

                <!--对话框: 导出规则-->
                <el-dialog :title="ruleExportTitle" :visible.sync="ruleExportDialog" fullscreen>
                    <el-input type="textarea" autosize="{minRows: 5, maxRows:10000}" placeholder="导出中..."
                              v-model="ruleExportData"></el-input>
                </el-dialog>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.5.4/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
	function aPost(url, params) {
		return new Promise((resolve, reject) => {
			axios.post(url, params).then(res => {
				const r = res.data;
				if (!r) {
					// console.log('data: ' + r);
					reject('服务器错误，请稍后再试');
				} else if (r.code !== '0') {
					// console.log('message: ' + r.message);
					reject(r.message || '服务器错误，请稍后再试');
				} else {
					resolve(r)
				}
			}).catch(error => {
				console.log(error);
				reject('服务器错误，请稍后再试');
			})
		})
	}

	new Vue({
		el: '#app',
		data() {
			return {
				menuActive: '1',
				stepsActive: '1',

				tableLoading: false,
				tableTotal: 0,
				tableData: [],
				tableSelectData: [], // 列表选中列

				q: {
					Status: 0,
					Name: '',
					Page: 1
				},

				// 任务: 编辑
				cronDialogVisible: false,
				cronButtonDisabled: false,
				cronData: {},
				cronDateBase: {},

				// 规则: 添加&编辑
				ruleTitle: '',
				ruleUrl: '',
				ruleDialogVisible: false,
				ruleButtonDisabled: false,
				ruleData: {},
				ruleParams: [],
				ruleParamsPost: {
					Rid: 0,
					Type: 'List',
				},

				// 参数: 添加&编辑
				ruleParamTitle: '',
				ruleParamUrl: '',
				ruleParamDialogVisible: false,
				ruleParamButtonDisabled: false,
				ruleParamData: {},

				// 抓取页面测试
				ruleTestDialog: false,
				ruleTestUrl: '',
				ruleTestHtml: '',
				ruleTestHtmlList: [],

				// 导出规则
				ruleExportTitle: '',
				ruleExportDialog: false,
				ruleExportData: false,
			}
		},
		mounted() {
			this.getList();
		},
		methods: {
			// 搜索
			searchClick() {
				this.q.Page = 1;
				this.getList();
			},

			// 状态筛选
			statusChange(val) {
				this.q.Status = val;
				this.q.Page = 1;
				this.getList();
			},

			// ===================== 任务 =====================
			// 采集任务
			updateCronDialog(row) {
				this.cronDialogVisible = true;
				aPost('/RuleRead', {Rid: row.Rid}).then(r => {
					const d = r.data;
					this.cronDateBase = {
						Rid: d.Rid,
						Type: 3,
					};
					this.cronData = {
						Rid: d.Rid,
						Status: d.Status,
						IntervalHour: d.IntervalHour,
						Timeout: d.Timeout,
						IsList: d.IsList,
						IsListDownAna: d.IsListDownAna,
						IsListDownRun: d.IsListDownRun,
						IsContent: d.IsContent,
						IsContentDownAna: d.IsContentDownAna,
						IsContentDownRun: d.IsContentDownRun,
					};
				}).catch(error => {
					this.$message.error(error)
				})
			},

			// 采集任务设置保存
			cronDataSubmit() {
				this.cronButtonDisabled = true;
				aPost('/DatabaseCreate', this.cronDateBase).then(r => {
					this.cronData.IntervalHour = Number(this.cronData.IntervalHour);
					aPost('/RuleUpdateCron', this.cronData).then(r => {
						this.cronButtonDisabled = false;
						this.$message.success(r.message);
					}).catch(error => {
						this.cronButtonDisabled = false;
						this.$message.error(error);
					})
				}).catch(error => {
					this.cronButtonDisabled = false;
					this.$message.error(error);
				})
			},

			// ===================== 规则 =====================
			// 对话框: 添加
			createDialog() {
				this.stepsActive = '1';
				this.ruleTitle = '添加规则';
				this.ruleUrl = '/RuleCreate';
				this.ruleData = {
					Charset: 'UTF8',
					ListPageStart: 1,
					ListPageEnd: 10,
					ListPageSize: 1,
				};
				this.ruleDialogVisible = true;
			},

			// 对话框: 编辑
			updateDialog(row, stepsActive) {
				if (stepsActive) this.stepsActive = stepsActive + '';
				this.ruleTitle = '编辑规则';
				this.ruleUrl = '/RuleUpdate';
				aPost('/RuleRead', {Rid: row.Rid}).then(r => {
					this.ruleData = r.data;
					this.ruleDialogVisible = true;
				}).catch(error => {
					this.$message.error(error)
				})
			},

			// 提交
			formSubmit(val) {
				this.$refs.ruleData.validate(valid => {
					if (valid) {
						this.ruleButtonDisabled = true;
						aPost(this.ruleUrl, this.ruleData).then(r => {
							this.ruleButtonDisabled = false;

							if (r.Rid) {
								// 添加时需要返回 Rid，并重新编辑
								this.ruleData.Rid = r.Rid;
								this.updateDialog(this.ruleData);
							} else if (this.stepsActive === '3') {
								// 最后一步才关闭对话框
								this.$message.success(r.message);
								this.ruleDialogVisible = false;
								this.getList();
								return;
							}

							// 显示所在步骤
							this.stepsActive = val + '';

							// 加载规则参数列表
							if (this.stepsActive === '2') {
								this.ruleParamsPost = {Rid: this.ruleData.Rid, Type: 'List'};
								this.ruleParamList();
							} else if (this.stepsActive === '3') {
								this.ruleParamsPost = {Rid: this.ruleData.Rid, Type: 'Content'};
								this.ruleParamList();
							}
						}).catch(error => {
							this.ruleButtonDisabled = false;
							this.$message.error(error);
						})
					}
				});
			},

			// 批量选择
			tableSelect(val) {
				this.tableSelectData = val;
			},

			// 批量删除
			batchDelete() {
				this.$confirm('删除选中的规则不可逆, 是否继续? ', '提示', {
					type: 'warning'
				}).then(() => {
					!(async () => {
						const failDate = []; // 记录失败
						for (const k in this.tableSelectData) {
							const v = this.tableSelectData[k];
							await aPost('/RuleDelete', {Rid: v.Rid}).catch(error => {
								failDate.push({Rid: v.Rid, error: error});
								this.$message.error(error);
							})
						}

						if (failDate.length > 0) {
							this.$message.error('删除失败 ' + failDate.length + ' 次');
						} else {
							this.$message.success('删除成功');
							this.getList();
						}
					})()
				}).catch(_ => {
				})
			},

			// 删除
			deleteDialog(row) {
				this.$confirm('删除不可逆, 是否继续? ', '提示', {type: 'warning'}).then(() => {
					aPost('/RuleDelete', {Rid: row.Rid}).then(r => {
						this.$message.success(r.message);
						this.getList();
					}).catch(error => {
						this.$message.error(error);
					})
				}).catch(_ => {
				});
			},

			// 导出规则
			exportDialog(row) {
				this.ruleExportTitle = '导出规则 - ' + row.Name;
				this.ruleExportDialog = true;
				aPost('/RuleExport', {Rid: row.Rid}).then(r => {
					this.ruleExportData = r.data;
				}).catch(error => {
					this.$message.error(error)
				})
			},

			// 分页
			tableCurrentChange(page) {
				this.q.Page = page;
				this.getList();
			},

			// 获取列表
			getList() {
				this.tableLoading = true;
				aPost('/RuleList', this.q).then(r => {
					this.tableData = r.list || [];
					this.tableTotal = r.total || 0;
					this.tableLoading = false;
				}).catch(error => {
					this.$message.error(error);
				});
			},

			// 返回列表规则
			returnStepsActive2() {
				this.stepsActive = '2';
				this.ruleParamsPost = {Rid: this.ruleData.Rid, Type: 'List'};
				this.ruleParamList();
			},

			// ======================== 抓取测试 ========================
			// 测试列表页
			TestListUrl() {
				this.ruleTestDialog = true;
				this.ruleTestUrl = this.ruleData.ListUrl.replace(/{page}/g, this.ruleData.ListPageStart);
				this.ruleTestHtml = '';
				this.ruleTestHtmlList = [];
				aPost('/HttpGetPage', {Url: this.ruleTestUrl}).then(r => {
					this.ruleTestHtml = r.html || '匹配数据为空';
				}).catch(error => {
					this.$message.error(error);
				})
			},

			// 测试列表页匹配
			TestListRule() {
				this.ruleTestDialog = true;
				this.ruleTestUrl = this.ruleData.ListUrl.replace(/{page}/g, this.ruleData.ListPageStart);
				this.ruleTestHtml = '';
				this.ruleTestHtmlList = [];
				aPost('/HttpGetList', {Url: this.ruleTestUrl, ListRule: this.ruleData.ListRule}).then(r => {
					if (r.htmlList) {
						this.ruleTestHtmlList = r.htmlList;
					} else {
						this.ruleTestHtml = '匹配数据为空';
					}
				}).catch(error => {
					this.$message.error(error);
				})
			},

			// 测试字段匹配
			TestRuleParam() {
				this.ruleTestDialog = true;
				if (this.ruleParamData.Type === 'List') {
					// 列表参数匹配
					this.ruleTestUrl = this.ruleData.ListUrl.replace(/{page}/g, this.ruleData.ListPageStart);
					this.ruleTestHtml = '';
					this.ruleTestHtmlList = [];
					aPost('/HttpGetListRule', {
						Url: this.ruleTestUrl,
						ListRule: this.ruleData.ListRule,
						ParamRule: this.ruleParamData.Rule,
						ValueType: this.ruleParamData.ValueType,
						ValueAttr: this.ruleParamData.ValueAttr,
						FilterType: this.ruleParamData.FilterType,
						FilterRegexp: this.ruleParamData.FilterRegexp,
						FilterRepl: this.ruleParamData.FilterRepl,
					}).then(r => {
						this.ruleTestHtml = r.html || '匹配数据为空';
					}).catch(error => {
						this.$message.error(error);
					})
				} else if (this.ruleParamData.Type === 'Content') {
					// 内容参数匹配
					this.ruleTestUrl = this.ruleData.ContentUrl;
					this.ruleTestHtml = '';
					this.ruleTestHtmlList = [];
					aPost('/HttpGetContentRule', {
						Url: this.ruleTestUrl,
						ParamRule: this.ruleParamData.Rule,
						ValueType: this.ruleParamData.ValueType,
						ValueAttr: this.ruleParamData.ValueAttr,
						FilterType: this.ruleParamData.FilterType,
						FilterRegexp: this.ruleParamData.FilterRegexp,
						FilterRepl: this.ruleParamData.FilterRepl,
					}).then(r => {
						this.ruleTestHtml = r.html || '匹配数据为空';
					}).catch(error => {
						this.$message.error(error);
					})
				}
			},

			// 测试字段匹配规则下载
			TestRuleParamDown() {
				this.ruleTestDialog = true;
				if (this.ruleParamData.Type === 'List') {
					// 列表参数匹配
					this.ruleTestUrl = this.ruleData.ListUrl.replace(/{page}/g, this.ruleData.ListPageStart);
					this.ruleTestHtml = '';
					this.ruleTestHtmlList = [];
					aPost('/HttpGetListRuleDown', {
						Url: this.ruleTestUrl,
						ListRule: this.ruleData.ListRule,
						ParamRule: this.ruleParamData.Rule,
						ValueType: this.ruleParamData.ValueType,
						ValueAttr: this.ruleParamData.ValueAttr,
						FilterType: this.ruleParamData.FilterType,
						FilterRegexp: this.ruleParamData.FilterRegexp,
						FilterRepl: this.ruleParamData.FilterRepl,
						DownRule: this.ruleParamData.DownRule,
						DownValueType: this.ruleParamData.DownValueType,
						DownValueAttr: this.ruleParamData.DownValueAttr,
					}).then(r => {
						if (r.htmlList) {
							this.ruleTestHtmlList = r.htmlList;
						} else {
							this.ruleTestHtml = '匹配数据为空';
						}
					}).catch(error => {
						this.$message.error(error);
					})
				} else if (this.ruleParamData.Type === 'Content') {
					// 内容参数匹配
					this.ruleTestUrl = this.ruleData.ContentUrl;
					this.ruleTestHtml = '';
					this.ruleTestHtmlList = [];
					aPost('/HttpGetContentRuleDown', {
						Url: this.ruleTestUrl,
						ParamRule: this.ruleParamData.Rule,
						ValueType: this.ruleParamData.ValueType,
						ValueAttr: this.ruleParamData.ValueAttr,
						FilterType: this.ruleParamData.FilterType,
						FilterRegexp: this.ruleParamData.FilterRegexp,
						FilterRepl: this.ruleParamData.FilterRepl,
						DownRule: this.ruleParamData.DownRule,
						DownValueType: this.ruleParamData.DownValueType,
						DownValueAttr: this.ruleParamData.DownValueAttr,
					}).then(r => {
						if (r.htmlList) {
							this.ruleTestHtmlList = r.htmlList;
						} else {
							this.ruleTestHtml = '匹配数据为空';
						}
					}).catch(error => {
						this.$message.error(error);
					})
				}
			},

			// 测试内容页
			TestContentUrl() {
				this.ruleTestDialog = true;
				this.ruleTestUrl = this.ruleData.ContentUrl;
				this.ruleTestHtml = '';
				this.ruleTestHtmlList = [];
				aPost('/HttpGetPage', {Url: this.ruleTestUrl}).then(r => {
					this.ruleTestHtml = r.html || '匹配数据为空';
				}).catch(error => {
					this.$message.error(error);
				})
			},

			// ======================== 采集规则参数相关功能 ========================
			// 列表
			ruleParamList() {
				this.ruleParams = [];
				aPost('/RuleParamList', this.ruleParamsPost).then(r => {
					this.ruleParams = r.list || [];
				}).catch(error => {
					this.$message.error(error);
				});
			},

			// 对话框: 添加
			createRuleParamDialog(row, type) {
				this.ruleParamTitle = '添加参数';
				this.ruleParamUrl = '/RuleParamCreate';
				this.ruleParamData = {
					Rid: row.Rid,
					Type: type,
					FieldType: 'VARCHAR',
					ValueType: 'Html',
					FilterType: 'Trim',
					Sort: 1,
					IsSearch: 0,
					DownType: 0,
					DownRule: 'a',
					DownValueType: 'Attr',
					DownValueAttr: 'href',
					DownFileType: 'Image',
					DownTimeout: 20,
				};
				this.ruleParamDialogVisible = true;
			},

			// 对话框: 编辑
			updateRuleParamDialog(row) {
				this.ruleParamTitle = '添加参数';
				this.ruleParamUrl = '/RuleParamUpdate';
				aPost('/RuleParamRead', {Pid: row.Pid}).then(r => {
					this.ruleParamData = r.data;
					this.ruleParamDialogVisible = true;
				}).catch(error => {
					this.$message.error(error)
				})
			},

			// 提交
			formRuleParamSubmit() {
				this.$refs.ruleParamData.validate(valid => {
					if (valid) {
						this.ruleParamButtonDisabled = true;
						aPost(this.ruleParamUrl, this.ruleParamData).then(r => {
							this.$message.success(r.message);
							this.ruleParamButtonDisabled = false;
							this.ruleParamDialogVisible = false;
							this.ruleParamList()
						}).catch(error => {
							this.$message.error(error);
							this.ruleParamButtonDisabled = false;
						})
					}
				})
			},

			// 删除
			deleteRuleParamDialog(row) {
				this.$confirm('删除不可逆, 是否继续? ', '提示', {type: 'warning'}).then(() => {
					aPost('/RuleParamDelete', {Pid: row.Pid}).then(r => {
						this.$message.success(r.message);
						this.ruleParamList();
					}).catch(error => {
						this.$message.error(error);
					})
				}).catch(_ => {
				})
			},
		}
	})
</script>
</body>
</html>
