<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>goSpider</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.5.4/theme-chalk/index.css">
    <style>
        body {
            margin: 0;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            min-height: 60px;
            padding: 0;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            min-height: 160px;
        }

        .el-footer {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="menuActive" mode="horizontal">
                <el-menu-item index="1"><a href="/" target="_blank">首页</a></el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <el-row>
                <el-col :span="4" v-for="(v, index) in imgList" :key="index">
                    <el-card :body-style="{ padding: '0px' }" style="height:320px;padding:5px 0;text-align:center">
                        <div style="height: 250px">
                            <a :href="'/read?Pid='+v.Pid" target="_blank">
                                <img :src="v.ImgUrlNew ? v.ImgUrlNew : v.ImgUrl" style="height: 100%">
                            </a>
                        </div>
                        <div style="padding: 5px 0 0;">
                            #{{ v.Pid }} | {{ v.Date }} | {{ v.Views }} | {{ v.ImgNum }}P<br>
                            <a :href="'/read?Pid='+v.Pid" target="_blank">{{ v.Title }}</a><br>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>@2019</el-footer>
    </el-container>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.5.4/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script>
	new Vue({
		el: '#app',
		data() {
			return {
				menuActive: '1',
				imgList: [],
			}
		},
		mounted() {
			axios.get('/img/list', {
				page: 1
			}).then(res => {
				const r = res.data;
				if (!r) {
					this.$message.error('服务器错误，请稍后再试');
				} else if (r.code !== '0') {
					this.$message.error(r.message);
				} else {
					this.imgList = r.list || []
				}
			}).catch((error) => {
				console.log(error);
				this.$message.error('服务器错误，请稍后再试');
			});
		},
		methods: {}
	})
</script>
</body>
</html>
