<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>狗狗采集器</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            {{template "incHeader.html" .}}
            <el-main>
                <!--搜索栏-->
                <el-row>
                    <el-input v-model="q.Message" placeholder="搜索日志" class="mb-1 mr-1" clearable>
                        <el-button slot="append" icon="el-icon-search" @click="searchClick"/>
                    </el-input>
                    <el-button type="danger" class="mb-1" @click="deleteDialog">清空日志</el-button>
                    <el-checkbox v-model="autoRefresh" label="刷新日志" border style="margin-left:10px"
                                 @change="autoChange"></el-checkbox>
                </el-row>

                <!--类型-->
                <el-radio-group v-model="q.Status" class="mb-1" @change="changeStatus">
                    <el-radio-button :label="0">全部</el-radio-button>
                    <el-radio-button :label="1">普通日志</el-radio-button>
                    <el-radio-button :label="2">错误日志</el-radio-button>
                </el-radio-group>

                <!--排序-->
                <div class="mb-1">
                    排序：
                    <el-radio-group v-model="q.Order" @change="changeOrder">
                        <el-radio label="">最新</el-radio>
                        <el-radio label="Runtime">耗时</el-radio>
                    </el-radio-group>
                </div>

                <!--时间线-->
                <el-timeline :reverse="true">
                    <el-timeline-item v-for="(v, i) in tableData" :key="i" :timestamp="v.CreateDateFmt" placement="top">
                        <el-tag v-if="v.Status === 1" type="info">普通日志</el-tag>
                        <el-tag v-else-if="v.Status === 2" type="danger">错误日志</el-tag>
                        <el-tag v-else type="danger">-</el-tag>
                        <el-tag v-if="v.Runtime > 0" type="success">{[v.Runtime]}秒</el-tag>
                        #{[v.LogId]}
                        | {[v.Message]}
                    </el-timeline-item>
                </el-timeline>

                <!--表格-->
                <!--<el-table v-loading="tableLoading" :data="tableData" border height="666" @sort-change="sortChange">
                    <el-table-column label="日志ID" prop="LogId" width="100"></el-table-column>
                    <el-table-column label="状态" width="100" align="center">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.Status === 1" type="info">普通日志</el-tag>
                            <el-tag v-else-if="scope.row.Status === 2" type="danger">错误日志</el-tag>
                            <el-tag v-else type="danger">-</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="执行时间" prop="CreateDate" width="180" align="center"></el-table-column>
                    <el-table-column label="执行耗时" prop="Runtime" width="120"
                                     :sort-orders="['ascending', 'descending']" sortable="custom"></el-table-column>
                    <el-table-column f label="日志内容" prop="Message" min-width="200"></el-table-column>
                </el-table>-->

                <!--分页-->
                <el-row type="flex" justify="end">
                    <el-pagination v-if="tableTotal > 0" :current-page="q.Page" :page-size="20" :total="tableTotal"
                                   background layout="total, prev, pager, next, jumper"
                                   @current-change="tableCurrentChange"/>
                </el-row>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
	new Vue({
		el: '#app',
		delimiters: ['{[', ']}'],
		data() {
			return {
				tableLoading: false,
				tableTotal: 0,
				tableData: [],

				// 自动刷新日志
				autoRefresh: true,
				autoT: null,

				q: {
					Status: 0,
					Message: '',
					Order: '',
					Page: 1
				},
			}
		},
		mounted() {
			this.getList();
			this.autoChange();
		},
		methods: {
			// 搜索
			searchClick() {
				this.q.Page = 1;
				this.getList();
			},

			// 表筛选
			changeStatus(val) {
				this.q.Status = val;
				this.q.Page = 1;
				this.getList();
			},

			// 排序
			changeOrder(val) {
				this.q.Order = val;
				this.q.Page = 1;
				this.getList();
			},
			// sortChange(obj) {
			// 	this.q.Order = obj.order === 'descending' ? 'Runtime' : '';
			// 	this.getList()
			// },

			// 自动刷新
			autoChange() {
				if (this.autoRefresh) {
					this.autoT = window.setInterval(() => {
						this.getList();
					}, 3000);
				} else {
					window.clearInterval(this.autoT);
				}
			},

			// 删除
			deleteDialog() {
				this.$confirm('删除不可逆, 是否继续? ', '提示', {type: 'warning'}).then(() => {
					aPost('/LogDeleteDB').then(r => {
						this.$message.success(r.message);
						this.getList();
					}).catch(error => {
						this.$message.error(error);
					})
				}).catch(_ => {
				});
			},

			// 分页
			tableCurrentChange(page) {
				this.q.Page = page;
				this.getList();
			},

			// 列表
			getList() {
				// this.tableLoading = true;
				aPost('/LogList', this.q).then(r => {
					const list = [];
					r.list && r.list.map(v => {
						Object.assign(v, {
							CreateDateFmt: moment(v.CreateDate).subtract(8, 'h').format('YYYY-MM-DD HH:mm:ss'),
						})
					});
					this.tableData = r.list || [];
					this.tableTotal = r.total || 0;
					// this.tableLoading = false;
				}).catch(error => {
					this.$message.error(error);
				});
			},
		}
	})
</script>
</body>
</html>
