<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小白采集器</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            {{template "incHeader.html" .}}
            <el-main>
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                    <el-breadcrumb-item>{[ruleName]}</el-breadcrumb-item>
                </el-breadcrumb>

                <!--导航-->
                <div class="menu-list mt-1">
                    导航：
                    <el-radio-group v-model="menuValue" size="medium">
                        <el-radio-button v-for="v in menuList" :label="v.Key">
                            <a :href="v.Url">{[v.Name]}</a>
                        </el-radio-button>
                    </el-radio-group>
                </div>

                <!--翻页-->
                <div class="mt-1">
                    翻页：
                    <el-radio-group v-model="pageType" @change="changePageType" size="medium">
                        <el-radio-button :label="1">单页</el-radio-button>
                        <el-radio-button :label="2">分页</el-radio-button>
                    </el-radio-group>
                </div>

                <!--每页-->
                <div class="mt-1">
                    每页：
                    <el-input placeholder="请输入数量" v-model="pageSize" class="mw-1" size="medium">
                        <el-button slot="append" icon="el-icon-d-arrow-right" @click="onPageSize"></el-button>
                    </el-input>
                </div>

                <!--排序-->
                <div v-if="orderFields.length > 0" class="mt-1">
                    排序：
                    <el-radio-group v-model="q.OrderField" @change="changeOrder" size="medium">
                        <el-radio-button label="">默认</el-radio-button>
                        <el-radio-button v-for="v in orderFields" :label="v">{[v]}</el-radio-button>
                    </el-radio-group>
                </div>

                <!--搜索-->
                <div v-if="searchFields.length > 0" class="mt-1">
                    搜索：
                    <el-input placeholder="请输入内容" v-model="q.SearchWord" clearable size="medium" class="mw-4">
                        <el-select v-model="q.SearchField" slot="prepend" placeholder="请选择" class="w-12">
                            <el-option v-for="v in searchFields" :label="v" :value="v"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-search" @click="onSearch"></el-button>
                    </el-input>
                </div>

                <!--分页-->
                <el-row v-if="pageType === 2 && listTotal > 0" type="flex" justify="end" class="mt-1">
                    <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                   background :layout="pageLayout" @current-change="changePage"/>
                </el-row>

                <el-row class="item-list mt-1">
                    <el-col :lg="4" :sm="6" :xs="24" v-for="v in listData">
                        <el-card :title="v.Name">
                            <div v-if="isImage" class="img"><a :href="v.ReadUrl"><img :src="v.Image"/></a></div>
                            <div class="info"><a :href="v.ReadUrl">{[v.Name ? v.Name : '#'+v.Lid]}</a></div>
                        </el-card>
                    </el-col>
                </el-row>

                <!--分页-->
                <el-row v-if="pageType === 2 && listTotal > 0" type="flex" justify="end" class="mt-1">
                    <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                   background :layout="pageLayout" @current-change="changePage"/>
                </el-row>

                <!--加载更多-->
                <div v-if="pageType === 1 && listTotal > 0" class="mt-1">
                    <el-button v-if="q.Page < Math.ceil(listTotal/q.PageSize)" type="primary" class="more"
                               :disabled="moreDisabled" @click="onMore">
                        加载更多 ({[q.Page*q.PageSize]}/{[listTotal]})
                    </el-button>
                    <el-button v-else disabled class="more">加载完毕 (共 {[listTotal]} 条)</el-button>
                </div>

                <!--暂无数据-->
                <el-alert v-if="listTotal === 0" title="暂无数据" type="warning" :closable="false" show-icon></el-alert>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
	new Vue({
		el: '#app',
		delimiters: ['{[', ']}'],
		data() {
			return {
				isMobile: document.body.getBoundingClientRect().width < 1024,
				listTotal: 0,
				listData: [],
				searchFields: [],
				orderFields: [],

				q: {
					Rid: Number('{{.Rid}}'),
					OrderField: '',
					SearchField: '',
					SearchWord: '',
					PageSize: 120,
					Page: 1,
				},

				menuValue: 1,
				menuList: [
					{Key: 1, Name: '内容', Url: '/Show?Rid={{.Rid}}'},
					{Key: 2, Name: '下载', Url: '/Show?Rid={{.Rid}}&Table=Download'},
				],

				moreDisabled: false,
				ruleName: '',
				isImage: false,
				pageType: 1,
				pageSize: 120,
				pageLayout: 'total, prev, pager, next, jumper',
			}
		},
		mounted() {
			if (this.isMobile) {
				this.pageLayout = 'total, prev, next, jumper';
			}
			this.getList();
		},
		methods: {
			// 翻页方式
			changePageType() {
				this.q.Page = 1;
				this.getList();
			},

			// 状态
			changeStatus(val) {
				this.q.Status = val;
				this.q.Page = 1;
				this.getList();
			},

			// 排序
			changeOrder() {
				this.q.Page = 1;
				this.getList();
			},

			// 每页数量
			onPageSize() {
				this.q.PageSize = Number(this.pageSize);
				this.q.Page = 1;
				this.getList();
			},

			// 搜索
			onSearch() {
				this.q.Page = 1;
				this.getList();
			},

			// 加载更多
			onMore() {
				this.q.Page++;
				this.getList();
			},

			// 分页
			changePage(val) {
				this.q.Page = val;
				this.getList();
			},

			// 列表
			getList() {
				this.moreDisabled = true;
				const cond = Object.assign({}, this.q);
				aPost('/ShowList', cond).then(r => {
					this.ruleName = r.ruleName || '';
					this.isImage = r.isImage || false;
					this.listTotal = r.total || 0;

					// 搜索&排序
					this.orderFields = r.orderFields || [];
					this.searchFields = r.searchFields || [];
					if (this.searchFields[0]) this.q.SearchField = this.searchFields[0];

					const f = v => {
						v.ReadUrl = '/Read?Rid=' + this.q.Rid + "&Lid=" + v.Lid;
						if (v.Name && this.q.OrderField && v[this.q.OrderField]) {
							v.Name += ' (' + v[this.q.OrderField] + ')'
						}
					};

					if (this.pageType === 1) {
						if (this.q.Page === 1) {
							this.listData = []
						}
						r.list && r.list.map(v => {
							f(v);
							this.listData.push(v)
						});
					} else {
						r.list && r.list.map(v => {
							f(v);
						});
						this.listData = r.list || [];
					}
					this.moreDisabled = false;
				}).catch(error => {
					this.$message.error(error);
					this.moreDisabled = false;
				});
			},
		}
	})
</script>
</body>
</html>
