<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小白采集器</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            {{template "incHeader.html" .}}
            <el-main>
                <!--浏览导航-->
                <div class="menu-list">
                    浏览导航：
                    <el-radio-group v-model="menuValue">
                        <el-radio-button v-for="v in menuList" :label="v.Key">
                            <a :href="v.Url">{[v.Name]}</a>
                        </el-radio-button>
                    </el-radio-group>
                </div>

                <!--翻页方式-->
                <div class="mt-1">
                    翻页方式：
                    <el-radio-group v-model="pageType" @change="changePageType">
                        <el-radio-button :label="1">单页</el-radio-button>
                        <el-radio-button :label="2">多页</el-radio-button>
                    </el-radio-group>
                </div>

                <!--显示数量-->
                <div class="mt-1">
                    显示数量：
                    <el-input placeholder="请输入数量" v-model="pageSize" style="max-width:300px">
                        <template slot="prepend">共 {[listTotal]} 条，每页</template>
                        <el-button slot="append" icon="el-icon-d-arrow-right" @click="onPageSize"></el-button>
                    </el-input>
                </div>

                <!--分页-->
                <el-row v-if="pageType === 2 && listTotal > 0" type="flex" justify="end" class="mt-1">
                    <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                   background :layout="pageLayout" @current-change="changePage"/>
                </el-row>

                <el-row class="item-list mt-1">
                    <el-col :lg="4" :sm="6" :xs="24" v-for="v in listData">
                        <el-card>
                            <div class="img"><img :src="v.Status === 2 ? v.NewUrl : v.OldUrl"/></div>
                        </el-card>
                    </el-col>
                </el-row>

                <!--分页-->
                <el-row v-if="pageType === 2 && listTotal > 0" type="flex" justify="end" class="mt-1">
                    <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                   background :layout="pageLayout" @current-change="changePage"/>
                </el-row>

                <!--加载更多-->
                <div v-if="pageType === 1 && q.Page < Math.ceil(listTotal/q.PageSize)" class="mt-1">
                    <el-button type="primary" class="more" :disabled="moreDisabled" @click="onMore">加载更多</el-button>
                </div>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intense-images/1.0.7/intense.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
	new Vue({
		el: '#app',
		delimiters: ['{[', ']}'],
		data() {
			return {
				isMobile: document.body.getBoundingClientRect().width < 1024,
				listTotal: 0,
				listData: [],
				listColumns: [],
				pageType: 1,
				pageSize: 120,
				pageLayout: 'prev, pager, next, jumper',
				q: {
					Rid: Number('{{.Rid}}'),
					Table: 'ContentDownload',
					Status: 0,
					PageSize: 120,
					Page: 1,
				},
				menuValue: 4,
				menuList: [
					{Key: 1, Name: '列表页', Url: '?Rid={{.Rid}}'},
					{Key: 2, Name: '内容页', Url: '?Rid={{.Rid}}&Table=Content'},
					{Key: 3, Name: '列表页下载', Url: '?Rid={{.Rid}}&Table=ListDownload'},
					{Key: 4, Name: '内容页下载', Url: '?Rid={{.Rid}}&Table=ContentDownload'},
				],
				moreDisabled: false,
			}
		},
		mounted() {
			if (this.isMobile) {
				this.pageLayout = 'prev, next, jumper';
			}
			this.getList();
		},
		methods: {
			// 翻页方式
			changePageType() {
				this.q.Page = 1;
				this.getList();
			},

			// 每页数量
			onPageSize() {
				this.q.PageSize = Number(this.pageSize);
				this.q.Page = 1;
				this.getList();
			},

			// 加载更多
			onMore() {
				this.q.Page++;
				this.getList();
			},

			// 分页
			changePage(val) {
				this.q.Page = val;
				this.getList();
			},

			// 列表
			getList() {
				this.moreDisabled = true;
				aPost('/ShowDownload', this.q).then(r => {
					this.listTotal = r.total || 0;
					if (this.pageType === 1) {
						r.list && r.list.map(v => {
							this.listData.push(v)
						});
					} else {
						this.listData = r.list || [];
					}
					this.moreDisabled = false;

					setTimeout(function () {
						Intense(document.querySelectorAll('.img img'));
					}, 1000);
				}).catch(error => {
					this.$message.error(error);
					this.moreDisabled = false;
				});
			},
		}
	})
</script>
</body>
</html>
