<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>梦想采集器</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            {{template "incHeader.html" .}}
            <el-main>
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                    <el-breadcrumb-item>{[ruleName]}</el-breadcrumb-item>
                </el-breadcrumb>

                <!--导航-->
                <div class="menu-list mt-1">
                    导航：
                    <el-radio-group v-model="menuValue" size="medium">
                        <el-radio-button v-for="v in menuList" :label="v.Key">
                            <a :href="v.Url">{[v.Name]}</a>
                        </el-radio-button>
                    </el-radio-group>
                </div>

                <!--翻页-->
                <div class="mt-1">
                    翻页：
                    <el-radio-group v-model="pageType" @change="onList" size="medium">
                        <el-radio-button :label="1">单页</el-radio-button>
                        <el-radio-button :label="2">分页</el-radio-button>
                    </el-radio-group>
                </div>

                <!--每页-->
                <div class="mt-1">
                    每页：
                    <el-input placeholder="请输入数量" v-model="pageSize" class="mw-1" size="medium">
                        <el-button slot="append" icon="el-icon-d-arrow-right" @click="onPageSize"></el-button>
                    </el-input>
                </div>

                <!--总数-->
                <div class="mt-1">
                    总数：
                    <el-input v-model="listTotal" class="mw-1" size="medium" disabled></el-input>
                </div>

                <!--浏览-->
                <div class="mt-1">
                    浏览：
                    <el-radio-group v-model="ViewType" size="medium">
                        <el-radio-button :label="1">图片</el-radio-button>
                        <el-radio-button :label="2">表格</el-radio-button>
                    </el-radio-group>
                </div>

                <!--标题-->
                <div class="mt-1">
                    标题：
                    <el-radio-group v-model="q.IsName" @change="onList" size="medium">
                        <el-radio-button :label="1">显示</el-radio-button>
                        <el-radio-button :label="0">隐藏</el-radio-button>
                    </el-radio-group>
                </div>

                <!--类型-->
                <div class="mt-1">
                    类型：
                    <el-radio-group v-model="q.Table" @change="onList" size="medium">
                        <el-radio-button label="ContentDownload">内容</el-radio-button>
                        <el-radio-button label="ListDownload">列表</el-radio-button>
                    </el-radio-group>
                </div>

                <!--状态-->
                <div class="mt-1">
                    状态：
                    <el-radio-group v-model="q.Status" @change="changeStatus" size="medium">
                        <el-radio-button :label="0">全部</el-radio-button>
                        <el-radio-button :label="1">待下载</el-radio-button>
                        <el-radio-button :label="2">下载完成</el-radio-button>
                        <el-radio-button :label="3">下载失败</el-radio-button>
                    </el-radio-group>
                </div>

                <div v-if="listTotal > 0">
                    <!--分页-->
                    <el-row v-if="pageType === 2" type="flex" justify="end" class="mt-1">
                        <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                       background :layout="pageLayout" @current-change="changePage"/>
                    </el-row>

                    <el-row v-if="ViewType === 1" class="item-list mt-1" id="images">
                        <el-col :lg="4" :sm="6" :xs="24" v-for="v in listData">
                            <el-card>
                                <div class="img">
                                    <a :href="v.ReadUrl"><img :src="v.Status === 2 ? v.NewUrl : v.OldUrl"/></a>
                                </div>
                                <div v-if="q.IsName" class="info"><a :href="v.ReadUrl">{[v.Name]}</a></div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <!--表格-->
                    <el-table v-else :data="listData" border class="mt-1">
                        <el-table-column v-if="q.IsName" label="标题" min-width="150">
                            <template slot-scope="scope">
                                <a :href="scope.row.ReadUrl">{[scope.row.Name]}</a>
                            </template>
                        </el-table-column>
                        <el-table-column label="原始地址" min-width="200">
                            <template slot-scope="scope">
                                <a :href="scope.row.OldUrl" target="_blank">{[scope.row.OldUrl]}</a>
                            </template>
                        </el-table-column>
                        <el-table-column label="存放地址" min-width="200">
                            <template slot-scope="scope">
                                <a v-if="scope.row.Status === 2" :href="scope.row.NewUrl" target="_blank">{[scope.row.NewUrl]}</a>
                                <span v-else>{[scope.row.NewUrl]}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="文件大小" width="100">
                            <template slot-scope="scope">
                                {[humanSize(scope.row.FileSize)]}
                            </template>
                        </el-table-column>
                        <el-table-column label="状态" width="100" align="center">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.Status === 1" type="info">待下载</el-tag>
                                <el-tag v-else-if="scope.row.Status === 2" type="success">下载完成</el-tag>
                                <el-tag v-else-if="scope.row.Status === 3" type="danger">下载失败</el-tag>
                                <el-tag v-else type="danger">-</el-tag>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!--分页-->
                    <el-row v-if="pageType === 2" type="flex" justify="end" class="mt-1">
                        <el-pagination :current-page="q.Page" :page-size="q.PageSize" :total="listTotal"
                                       background :layout="pageLayout" @current-change="changePage"/>
                    </el-row>

                    <!--加载更多-->
                    <div v-if="pageType === 1" class="mt-1">
                        <el-button v-if="q.Page < Math.ceil(listTotal/q.PageSize)" type="primary" class="more"
                                   :disabled="moreDisabled" @click="onMore">
                            加载更多 ({[q.Page*q.PageSize]}/{[listTotal]})
                        </el-button>
                        <el-button v-else disabled class="more">加载完毕 (共 {[listTotal]} 条)</el-button>
                    </div>
                </div>

                <!--暂无数据-->
                <div v-else class="mt-1">
                    <el-alert title="暂无数据" type="warning" :closable="false" show-icon></el-alert>
                </div>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
	new Vue({
		el: '#app',
		delimiters: ['{[', ']}'],
		data() {
			return {
				isMobile: document.body.getBoundingClientRect().width < 1024,
				listTotal: 0,
				listData: [],

				q: {
					Rid: Number('{{.Rid}}'),
					Table: 'ContentDownload',
					IsName: 1,
					Status: 0,
					PageSize: 120,
					Page: 1,
				},

				menuValue: 2,
				menuList: [
					{Key: 1, Name: '内容', Url: '/Show?Rid={{.Rid}}'},
					{Key: 2, Name: '下载', Url: '/Show?Rid={{.Rid}}&Table=Download'},
				],

				moreDisabled: false,
				ViewType: 1,
				ruleName: '',
				pageType: 1,
				pageSize: 120,
				pageLayout: 'total, prev, pager, next, jumper',
			}
		},
		mounted() {
			if (this.isMobile) {
				this.pageLayout = 'total, prev, next, jumper';
			}
			this.getList();
		},
		methods: {
			// 翻页方式
			onList() {
				this.q.Page = 1;
				this.getList();
			},

			// 状态
			changeStatus(val) {
				this.q.Status = val;
				this.q.Page = 1;
				this.getList();
			},

			// 每页数量
			onPageSize() {
				this.q.PageSize = Number(this.pageSize);
				this.q.Page = 1;
				this.getList();
			},

			// 加载更多
			onMore() {
				this.q.Page++;
				this.getList();
			},

			// 分页
			changePage(val) {
				this.q.Page = val;
				this.getList();
			},

			// 列表
			getList() {
				this.moreDisabled = true;
				aPost('/ShowDownload', this.q).then(r => {
					this.ruleName = r.ruleName || '';
					this.listTotal = r.total || 0;
					if (this.pageType === 1) {
						if (this.q.Page === 1) {
							this.listData = []
						}
						r.list && r.list.map(v => {
							v.ReadUrl = '/Read?Rid=' + this.q.Rid + "&Lid=" + v.Lid;
							this.listData.push(v)
						});
					} else {
						r.list && r.list.map(v => {
							v.ReadUrl = '/Read?Rid=' + this.q.Rid + "&Lid=" + v.Lid;
						});
						this.listData = r.list || [];
					}

					// 判断是否以表格形式展示
					if (this.listData[0]) {
						const suf = this.listData[0]['OldUrl'].substr(-4);
						if (suf !== '.jpg' && suf !== 'jpeg' && suf !== '.gif' && suf !== '.png') {
							this.ViewType = 2;
						}
					}

					this.moreDisabled = false;
				}).catch(error => {
					this.$message.error(error);
					this.moreDisabled = false;
				});
			},
		}
	})
</script>
</body>
</html>
