<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小白采集器</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            {{template "incHeader.html" .}}
            <el-main>
                <!--类型-->
                <div class="mb-1">
                    类型：
                    <el-radio-group v-model="q.Table" @change="changeTable" size="medium">
                        <el-radio-button label="List">列表页</el-radio-button>
                        <el-radio-button label="Content">内容页</el-radio-button>
                        <el-radio-button label="ListDownload">内容页下载</el-radio-button>
                        <el-radio-button label="ContentDownload">内容页下载</el-radio-button>
                    </el-radio-group>
                </div>

                <!--状态-->
                <div class="mb-1" v-if="q.Table !== 'Content'">
                    状态：
                    <el-radio-group v-model="q.Status" @change="changeStatus" size="medium">
                        <el-radio-button :label="0">全部</el-radio-button>
                        <el-radio-button :label="1">待下载</el-radio-button>
                        <el-radio-button :label="2">下载完成</el-radio-button>
                        <el-radio-button :label="3">下载失败</el-radio-button>
                    </el-radio-group>
                </div>

                <!--表格-->
                <el-table v-loading="tableLoading" :data="tableData" border height="666">
                    <el-table-column v-for="f in tableColumns" :label="f" :fixed="fixedInit(f)"
                                     :min-width="widthInit(f)">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row[f]"></el-input>
                        </template>
                    </el-table-column>
                </el-table>

                <!--分页-->
                <el-row type="flex" justify="end" class="mt-1">
                    <el-pagination v-if="tableTotal > 0" :current-page="q.Page" :page-size="20" :total="tableTotal"
                                   background layout="total, prev, pager, next, jumper"
                                   @current-change="changePage"/>
                </el-row>
            </el-main>
            <el-footer>@2019</el-footer>
        </el-container>
    </template>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.7.2/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
	new Vue({
		el: '#app',
		data() {
			return {
				tableLoading: false,
				tableTotal: 0,
				tableData: [],
				tableColumns: [],

				q: {
					Rid: Number('{{.Rid}}'),
					Table: '{{.Table}}' || 'List',
					Status: 0,
					Page: 1,
				},
			}
		},
		mounted() {
			this.getList();
		},
		methods: {
			// 表
			changeTable(val) {
				this.q.Table = val;
				this.q.Page = 1;
				this.getList();
			},

			// 状态
			changeStatus(val) {
				this.q.Status = val;
				this.q.Page = 1;
				this.getList();
			},

			// 分页
			changePage(val) {
				this.q.Page = val;
				this.getList();
			},

			// 固定列
			fixedInit(field) {
				return field === 'Name';
			},

			// 列宽度
			widthInit(f) {
				let r = 210;
				if (f === 'Name') {
					r = 350;
				} else if (f === 'Lid'
					|| f === 'Id'
					|| f === 'Views'
					|| f === 'Sort'
				) {
					r = 100;
				} else if (f.substr(-3).toLowerCase() === 'num') {
					r = 150;
				} else if (f === 'Status') {
					r = 80;
				} else if (f.substr(-3).toLowerCase() === 'url'
					|| f.substr(0, 3).toLowerCase() === 'url'
					|| f.substr(-5).toLowerCase() === 'image'
					|| f.substr(0, 5).toLowerCase() === 'image'
				) {
					r = 600;
				}
				return r;
			},

			// 列表
			getList() {
				this.tableLoading = true;
				this.tableData = [];
				this.tableColumns = [];
				aPost('/TableList', this.q).then(r => {
					this.tableData = r.list || [];
					this.tableColumns = r.columns || [];
					this.tableTotal = r.total || 0;
					this.tableLoading = false;
				}).catch(error => {
					this.$message.error(error);
				});
			},
		}
	})
</script>
</body>
</html>
